Repository Trauma-Station/Trauma-Station, pull requests merged in 2025-10, with the labels that each got.

#9 Viva
  Content.Server/Revolutionary/RevolutionarySystem.cs
  Content.Shared/_EinsteinEngines/Revolutionary/RevolutionaryConverterSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/_EinsteinEngines/Objects/Specific/revolutionary.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Revolutionary/converters.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/misc/revflash.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/misc/revolutionarymanifesto.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/revflash.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/revolutionarymanifesto.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Revolutionaries.xml
Labels: size/M

#8 Remove EE parity
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
Labels: size/S, Changes: UI

#11 trauma mod
  Content.Shared/Content.Shared.csproj
  Content.Trauma.Client/Content.Trauma.Client.csproj
  Content.Trauma.Client/Entry/EntryPoint.cs
  Content.Trauma.Client/GlobalUsings.cs
  Content.Trauma.Client/Program.cs
  Content.Trauma.Common/AssemblyInfo.cs
  Content.Trauma.Common/Content.Trauma.Common.csproj
  Content.Trauma.Common/Entry/EntryPoint.cs
  Content.Trauma.Common/GlobalUsings.cs
  Content.Trauma.Server/Content.Trauma.Server.csproj
  Content.Trauma.Server/Entry/EntryPoint.cs
  Content.Trauma.Server/GlobalUsings.cs
  Content.Trauma.Server/Program.cs
  Content.Trauma.Shared/Content.Trauma.Shared.csproj
  Content.Trauma.Shared/Entry/EntryPoint.cs
  Content.Trauma.Shared/GlobalUsings.cs
  GoobStoreListingControl.xaml.cs
  REUSE.toml
  SpaceStation14.sln
  runclient-Tools.bat
  runclient-Tools.sh
  runclient.bat
  runclient.sh
  runserver-Tools.bat
  runserver-Tools.sh
  runserver.bat
  runserver.sh
Labels: Changes: UI, size/M
